<!DOCTYPE html>
<html>
<head>
  <title>Bukkits</title>
  <%= stylesheet_link_tag    "bukkits/application", media: "all" %>
  <%= javascript_include_tag "bukkits/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
